<!--Head-->
<%- include("../views/partials/head") %>

<!--Script validaciones Front-->
<script src="/js/productsValidations.js"></script>


    <body class="bodyCorto">

        <!--Header-->
        <%- include("../views/partials/headerGeneral") %>



            <main class="centrado wall">

                <img src="/img/fondo-variable-01.png" alt="" class="wall-izq">
                <img src="/img/fondo-variable-02.png" alt="" class="wall-der">
                <br>
                <a href="/users/panel-control">
                    <div class="boton-editar-prod"> Atras </div>
                </a>

                <h3>Agregar nuevo producto</h3>

                <form action="/productos/agregar-producto/process" method="POST" enctype="multipart/form-data"
                    class="FormCarga">

                    <div>
                        <label>Categoría:</label>
                        <select name="category" id="category" class="imputForm">
                            <% categorias.forEach(categoria=> { %>

                                <option value="<%=categoria.id%>">
                                    <%= categoria.name %>
                                </option>

                                <% } ) %>

                        </select>
                    </div>
                    <div>
                        <label>Nombre del producto:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre del producto..." class="imputForm"
                            value="<%= locals.oldData ? oldData.name : null %>">
                            <ul id="nameErrors"></ul>
                        <% if(locals.errors && errors.name ){ %>
                            <div class="feedback">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label>Marca:</label>
                        <input type="text" name="brand" id="brand" placeholder="Marca del producto" class="imputForm"
                            value="<%= locals.oldData ? oldData.brand : null %>">
                            <ul id="brandErrors"></ul>
                            <% if(locals.errors && errors.brand ){ %>
                                <div class="feedback">
                                    <%= errors.brand.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Tamaño del producto:</label>
                        <input type="text" name="size" id="size" placeholder="Tamaño del producto" class="imputForm"
                            value="<%= locals.oldData ? oldData.size : null %>">
                            <ul id="sizeErrors"></ul>
                            <% if(locals.errors && errors.size ){ %>
                                <div class="feedback">
                                    <%= errors.size.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Cosecha:</label>
                        <input type="number" name="years" id="years" placeholder="Año Cosecha..." class="imputForm"
                            value="<%= locals.oldData ? oldData.years : null %>">
                            <ul id="yearsErrors"></ul>
                            <% if(locals.errors && errors.years ){ %>
                                <div class="feedback">
                                    <%= errors.years.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Precio por unidad:</label>
                        <input type="number" name="priceUnit" id="priceUnit" placeholder="Precio por unidad..." class="imputForm"
                            value="<%= locals.oldData ? oldData.priceUnit : null %>">
                            <ul id="priceUnitErrors"></ul>
                            <% if(locals.errors && errors.priceUnit ){ %>
                                <div class="feedback">
                                    <%= errors.priceUnit.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Precio por cantidad:</label>
                        <input type="number" name="priceCant" id="priceCant" placeholder="Precio por cantidad..." class="imputForm"
                            value="<%= locals.oldData ? oldData.priceCant : null %>">
                            <ul id="priceCantErrors"></ul>
                            <% if(locals.errors && errors.priceCant ){ %>
                                <div class="feedback">
                                    <%= errors.priceCant.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Unidades para descuento:</label>
                        <input type="number" name="cantDisc" id="cantDisc" placeholder="Unidades para descuentos..." class="imputForm"
                            value="<%= locals.oldData ? oldData.cantDisc : null %>">
                            <ul id="cantDiscErrors"></ul>
                            <% if(locals.errors && errors.cantDisc ){ %>
                                <div class="feedback">
                                    <%= errors.cantDisc.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>En oferta</label>
                        <select name="offer" id="offer" class="imputForm">
                            <% if (locals.oldData && oldData.offer){ %>
                                <% if(oldData.offer==false ){ %>
                                    <option value=false selected>No</option>
                                    <option value=true>Si</option>
                                    <% }else{ %>
                                        <option value=false>No</option>
                                        <option value=true selected>Si</option>
                                        <% } %>

                                            <% } else { %>
                                                <option value=false>No</option>
                                                <option value=true>Si</option>
                                                <% } %>

                        </select>
                    </div>
                    <div>
                        <label>Graduación alcoholica:</label>
                        <input type="text" name="graduation" id="graduation" placeholder="Graduacion alcoholica..." class="imputForm"
                            value="<%= locals.oldData ? oldData.graduation : null %>">
                            <ul id="graduationErrors"></ul>
                            <% if(locals.errors && errors.graduation ){ %>
                                <div class="feedback">
                                    <%= errors.graduation.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Stock:</label>
                        <input type="number" name="stock" id="stock" placeholder="Stock en unidades..." class="imputForm"
                            value="<%= locals.oldData ? oldData.stock : null %>">
                            <ul id="stockErrors"></ul>
                            <% if(locals.errors && errors.stock ){ %>
                                <div class="feedback">
                                    <%= errors.stock.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Descripción:</label>
                        <textarea rows="5" name="description" id="description" placeholder="Describe tu producto..." class="imputForm"
                            value="<%= locals.oldData ? oldData.description : null %>"></textarea>
                            <ul id="descriptionErrors"></ul>
                            <% if(locals.errors && errors.description ){ %>
                                <div class="feedback">
                                    <%= errors.description.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div>
                        <label>Fotos del producto:</label>
                        <input type="file" name="image" id="image" class="imputForm">
                        <ul id="imageErrors"></ul>
                        <% if(locals.errors && errors.image){ %>
                            <div class="feedback">
                                <%= errors.image.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="caja-fotos-producto">
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                    </div>
                    <div class="centrado">
                        <button type="submit" class="boton-ver-mas">Agregar</button>
                    </div>



                </form>
            </main>

            <!--Footer-->
            <%- include("../views/partials/footer") %>

    </body>