<!--Head-->
<%- include("../views/partials/head") %>



    <body class="bodyCorto">

        <!--Header-->
        <%- include("../views/partials/headerGeneral") %>



            <main class="centrado wall">
                
                <img src="/img/fondo-variable-01.png" alt="" class="wall-izq">
                <img src="/img/fondo-variable-02.png" alt="" class="wall-der">
                <br>
                <a href="/users/panel-control">
                    <div class="boton-editar-prod"> Atras </div>
                </a>

                <h3>Agregar nuevo producto</h3>

                <form action="/productos/agregar-producto/process" method="POST" enctype="multipart/form-data"
                    class="FormCarga">

                    <div>
                        <label>Categoría:</label>
                        <select name="category" class="imputForm">
                            <% categorias.forEach(categoria=> { %>
                               
                                <option value="<%=categoria.id%>">
                                    <%= categoria.name %>
                                </option>
                                
                                    <%  } ) %>

                        </select>
                    </div>
                    <div>
                        <label>Nombre del producto:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre del producto..." class="imputForm"
                            value="<%= locals.oldData ? oldData.name : null %>">

                        <% if(locals.errors && errors.name){ %>
                            <div class="feedback">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label>Marca:</label>
                        <input type="text" name="brand" placeholder="Marca del" class="imputForm">
                    </div>
                    <div>
                        <label>Tamaño del producto:</label>
                        <input type="number" name="size" placeholder="Tamaño en ml..." class="imputForm">
                    </div>
                    <div>
                        <label>Cosecha:</label>
                        <input type="number" name="years" placeholder="Año Cosecha..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por unidad:</label>
                        <input type="number" name="priceUnit" placeholder="Precio por unidad..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por cantidad:</label>
                        <input type="number" name="priceCant" placeholder="Precio por cantidad..." class="imputForm">
                    </div>
                    <div>
                        <label>Unidades para descuento:</label>
                        <input type="number" name="cantDisc" placeholder="Unidades para descuentos..."
                            class="imputForm">
                    </div>
                    <div>
                        <label>En oferta</label>
                        <select name="offer" class="imputForm">
                            <option value="false">No</option>
                            <option value="true">Si</option>

                        </select>
                    </div>
                    <div>
                        <label>Graduación alcoholica:</label>
                        <input type="text" name="graduation" placeholder="Graduacion alcoholica..." class="imputForm">
                    </div>
                    <div>
                        <label>Stock:</label>
                        <input type="number" name="stock" placeholder="Stock en unidades..." class="imputForm">
                    </div>
                    <div>
                        <label>Descripción:</label>
                        <textarea rows="5" name="description" placeholder="Describe tu producto..."
                            class="imputForm"></textarea>
                    </div>
                    <div>
                        <label>Fotos del producto:</label>
                        <input type="file" name="image"  class="imputForm">
                        <% if(locals.errors && errors.image){ %>
                            <div class="feedback">
                                <%= errors.image.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="caja-fotos-producto">
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                    </div>
                    <div class="centrado">
                        <button type="submit" class="boton-ver-mas">Agregar</button>
                    </div>



                </form>
            </main>

            <!--Footer-->
            <%- include("../views/partials/footer") %>

    </body>