<!--Head-->
<%- include("../views/partials/head") %>

    <body class="body-check">
        <%- include("../views/partials/headerGeneral") %>

            <main class="check">
                
                
                
                <div class="check-datos-container">
                    
                    <a href="/home">
                        <div class="boton-editar-prod"> Atras </div>
                    </a>
                    <div class="check-datos-box">

                        <div class="check-datos-titulo">

                            Datos del Comprador
                        </div>

                        <div class="check-datos-cont">
                            Nombre : <%=usuario.first_name%>
                        </div>
                        <div class="check-datos-cont">
                            Apellido: <%=usuario.last_name%>
                        </div>


                    </div>
                    <div class="check-datos-box">

                        <div class="check-datos-titulo">

                            Direccion de entrega
                        </div>
                        <div class="check-datos-cont-entrega">
                            <div>
                                Entregar en:
                            </div>

                            <select name="address.alias" class="imputForm-pago" id="alias">

                                <option value="ca"> Casa </option>
                                <option value="tr"> Trabajo </option>
                                
                            </select>

                        </div>
                        <div class="check-datos-cont" id="province">
                            Provincia: "address.province"
                        </div>
                        <div class="check-datos-cont" id="locality">
                            Localidad: "address.locality"
                        </div>
                        <div class="check-datos-cont" id="street">
                            Calle: "address.street address.street_number"
                        </div>

                    </div>
                    <div class="check-datos-box">
                        <div class="check-datos-titulo">

                            Forma de pago
                        </div>

                        <select name="pago" class="imputForm-pago">

                            <option value="Mp"> MercadoPago </option>
                            <option value="tc"> Tarjeta de Crédito </option>
                            <option value="td"> Tarjeta de Débito </option>
                            <option value="tb"> Transferencia Bancaria </option>
                            <option value="ef"> Efectivo </option>
                        </select>

                    </div>
                </div>

                <div class="check-datos-container">

                    <div class="check-datos-box">
                        <div class="check-datos-titulo">

                            Resumen de compra
                        </div>
                        
                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/productos-20.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Fernet Branca
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $1250
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/producto_cocacola_1655932489598.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Coca-Cola
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $230
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/producto_pringles-01_1655935238764.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Pringles Texas BBQ sauce
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $280
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/producto_andes-rubia21_1655931924062.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Cerveza Andes Origen Rubia Lata
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $200
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/producto_andes-roja21_1655932111071.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Cerveza Andes Origen Roja Lata
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $213
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>



                    </div>
                    <div class="check-datos-box">

                        <div class="tarjeta-producto-edit">

                            <div class="margin-LR">
                                <div>
                                    Envío:
                                </div>
                                <div>
                                    $300
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    productos:
                                </div>
                                <div>
                                    $2137
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    Total:
                                </div>
                                <div>
                                    $2437
                                </div>

                            </div>

                            <div class="box-icons">
                                <a href="/home">
                                
                                    <button type="submit" class="boton-editar-prod">Comprar</button>
                                
                                </a>
                            </div>

                        </div>

                    </div>

                </div>





            </main>

            <!--Script Inputs Address-->
            <script src="/js/direccionesCheckOut.js"></script>
    </body>

    <!--Footer-->
    <%- include("../views/partials/footer") %>

        </body>

        </html>