<!--Head-->
<%- include("../views/partials/head") %>

    <body>
        <%- include("../views/partials/headerGeneral") %>

            <main>
                <!--- <div class="det-macro"> -->
                <section class="det-productos">
                    <div class="det-princ">
                        <a href="/home">
                            <div class="det-atras"> Atras </div>
                        </a>
                        <div class="det-imgDet">
                            <div class="det-img">

                                <img src="/img/products/<%= producto.image %>" alt="">

                            </div>




                            <div class="det-caj-der">
                                <div class="det-det-prod">
                                    <h3> Detalle de Producto </h3>
                                    <div class="det-caj-der-sup-nomb">
                                        <%= producto.name %>
                                    </div>
                                </div>

                                <div class="det-caj-der-sup">


                                    <div class="det-caj-der-sup-pre">
                                        $<%= producto.priceUnit %>
                                    </div>


                                </div>

                                <div class="det-caj-der-inf">
                                    <div class="det-caj-der-inf-cant">
                                        - Cantidad +
                                    </div>
                                    <div class="det-caj-der-inf-borrar">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>



                            </div>



                        </div>
                        <br>
                        <!--Visible solo para administradores-->
                        <% if(locals.estaLogueado && locals.usuarioLogueado.category == "admin") { %>
                        <div class="">
                            <a href="/productos/editar-producto/<%= producto.id %>"><button class="boton-admin naranja">
                                    Editar </button></a>

                            <form action="/productos/eliminar/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="boton-admin rojo"> Eliminar </button> no tocar!!!!!!
                            </form>

                        </div>
                        <% } %>
                </section>




                <section class="detalle-productos">
                    <div class="det-art-sup">
                        <div class="det-art-primera">
                            <%= producto.name + " " + producto.size %>
                        </div>
                        <br>

                        <div class="det-art-segunda">
                            <p>
                                <%= producto.description %>
                            </p>

                        </div>
                        <div class="det-art-tercera">
                            Bodega, Años, Marca.
                        </div>
                        <div class="det-art-cuarta">
                            Graduación: <%= producto.graduation %>
                        </div>
                        <br><br>
                        <div class="det-art-quinta">
                            Años: <%= producto.years %>
                        </div>

                        <br>
                        <div class="det-art-sexta">
                            Valoración de los compradores: <%= producto.valoration %> <i class="fa-regular fa-star"></i>
                        </div>

                    </div>

                    <div class="texto-valoracion">Valora este producto:</div>
                    <form action="/productos/valorar/<%= producto.id %>?_method=PUT" method="POST" class="valoracion">


                        <div class="clasificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1"><i class="fa-regular fa-star"></i></label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2"><i class="fa-regular fa-star"></i></label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3"><i class="fa-regular fa-star"></i></label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4"><i class="fa-regular fa-star"></i></label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5"><i class="fa-regular fa-star"></i></label>
                        </div>
                        <button type="submit" class="boton-valoracion">Valorar</button>
                    </form>



                </section>


                <section class="tarjeta-categoria">

                    <div class="det-tarj-cat-sup">
                        <div>También te podría interesar </div>
                    </div>

                    <div class="tarj-cat-inf ">

                        <div class="tarj-cat-inf-izq padding20">

                            <article class="tarjeta-art-cat">
                                <div class="caja-art-cat-sup">
                                    <img src="/img/productos-21.jpg" alt="">
                                </div>
                                <div class="caja-art-inf-cat">

                                    <div class="caja-art-inf-izq">
                                        <div class="art-nombre">
                                            XXXXXXXXXX XX XX
                                        </div>
                                        <div class="art-precio">
                                            $$$$$$
                                        </div>
                                    </div>
                                    <div class="caja-art-inf-der-cat">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </article>
                            <article class="tarjeta-art-cat">
                                <div class="caja-art-cat-sup">
                                    <img src="" alt="">
                                </div>
                                <div class="caja-art-inf-cat">

                                    <div class="caja-art-inf-izq">
                                        <div class="art-nombre">
                                            XXXXXXXXXX XX XX
                                        </div>
                                        <div class="art-precio">
                                            $$$$$$
                                        </div>
                                    </div>
                                    <div class="caja-art-inf-der-cat">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </article>
                            <article class="tarjeta-art-cat">
                                <div class="caja-art-cat-sup">
                                    <img src="" alt="">
                                </div>
                                <div class="caja-art-inf-cat">

                                    <div class="caja-art-inf-izq">
                                        <div class="art-nombre">
                                            XXXXXXXXXX XX XX
                                        </div>
                                        <div class="art-precio">
                                            $$$$$$
                                        </div>
                                    </div>
                                    <div class="caja-art-inf-der-cat">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </article>
                            <article class="tarjeta-art-cat">
                                <div class="caja-art-cat-sup">
                                    <img src="" alt="">
                                </div>
                                <div class="caja-art-inf-cat">

                                    <div class="caja-art-inf-izq">
                                        <div class="art-nombre">
                                            XXXXXXXXXX XX XX
                                        </div>
                                        <div class="art-precio">
                                            $$$$$$
                                        </div>
                                    </div>
                                    <div class="caja-art-inf-der-cat">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </article>


                        </div>

                        <div class="tarj-cat-inf-der">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </div>
                    </div>

                </section>


                </div>
            </main>

            <!--Footer-->
            <%- include("../views/partials/footer") %>
                </section>