<!--Head-->
<%- include("../views/partials/head") %>




    <body>
        <%- include("../views/partials/headerGeneral") %>
            <main class="backgris">
                <div class="btn-menu">

                </div>
                <section class="ofertas">

                    <div class="ofertas-slide">
                        <img src="/img/oferta-01.jpg" alt="">
                        <div class="slide-selector">
                            <div>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="menu-categorias">
                    <a href="/productos/categoria/cervezas" class="boton-menu-cat">
                        <img src="/img/categoryIcons/cervezas.png" alt="">
                    </a>
                    <a href="/productos/categoria/vinos" class="boton-menu-cat">
                        <img src="/img/categoryIcons/vinos.png" alt="">
                    </a>
                    <a href="/productos/categoria/sinAlcohol" class="boton-menu-cat">
                        <img src="/img/categoryIcons/sinAlcohol.png" alt="">
                    </a>
                    <a href="/productos/categoria/destilados" class="boton-menu-cat">
                        <img src="/img/categoryIcons/destilados.png" alt="">
                    </a>
                    <a href="/productos/categoria/espumantes" class="boton-menu-cat">
                        <img src="/img/categoryIcons/espumantes.png" alt="">
                    </a>
                    <a href="/productos/categoria/snacks" class="boton-menu-cat">
                        <img src="/img/categoryIcons/snacks.png" alt="">
                    </a>



                </section>

                <!-- inicio Pop Up de producto-->
                <% let id = 0 %>
                <% productos.forEach(ProMod=>{ if(ProMod.id == 30){ %>
                <input type="checkbox" id="popUp">
                <div class="fondo-popUp">
                    <div class="cont-popUp">
                        <div class="tarjeta-popUp">
                            <label for="popUp" class="boton-cerrar-popUp"><i
                                    class="fa-solid fa-xmark"></i></label>
                            <div class="cont-img">
                                <img src="/img/products/<%= ProMod.image %>" alt=""
                                    class="img-popUp">
                                <div>
                                    <h4>
                                        <%= ProMod.name %>
                                    </h4>
                                </div>
                            </div>
                            
                            <div class="renglon-popUp">
                                <div class="renglon-tit-popUp">Precio:</div>
                                <div class="renglon-cont-popUp">$<%= ProMod.priceUnit %>
                                </div>
                            </div>

                            <div class="renglon-popUp">
                                <div class="renglon-tit-popUp">Tamaño:</div>
                                <div class="renglon-cont-popUp">
                                    <%= ProMod.size %>
                                </div>
                            </div>
                            <div class="renglon-popUp">
                                <div class="renglon-tit-popUp">Valoracion:</div>
                                <div class="renglon-cont-popUp">
                                    <%= ProMod.valoration %> <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                            <div class="renglon-popUp">
                                <div class="renglon-tit-popUp">Descripcion:</div>
                            </div>
                            
                                <div class="renglon-cont-popUp desc-popUp">
                                    <%= ProMod.description %>
                                
                            </div>
                            <div class="renglon-popUp">
                                <div class="renglon-tit-popUp-val">Valora este producto:</div>
                                
                            </div>
                            <div class="renglon-cont-popUp-val">
                                <form action="/productos/valorar/<%= ProMod.id %>?_method=PUT"
                                    method="POST" class="valoracion-popUp">
                                    <div class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label for="radio1"><i class="fa-regular fa-star"></i></label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label for="radio2"><i class="fa-regular fa-star"></i></label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label for="radio3"><i class="fa-regular fa-star"></i></label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label for="radio4"><i class="fa-regular fa-star"></i></label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label for="radio5"><i class="fa-regular fa-star"></i></label>
                                    </div>
                                    <button type="submit" class="boton-valoracion correcion-boton">Valorar</button>
                                </form>
                            </div>

                            <a href="/productos/detalle-producto/<%=ProMod.id%>" class="boton-verMas-popUp">Ver mas</a>
                            
                            

                        </div>
                    </div>
                </div>
                <% }}) %>
                <!-- FIN Pop Up de producto-->
                
                <% categorias.forEach(categoria=>{ %>
                    <!--Tajeta de categoria-->
                    <section class="tarjeta-categoria ">


                        <div class="tarj-cat-sup padding20">
                            <div>
                                <%= categoria.name %>
                            </div>
                        </div>
                        <div class="tarj-cat-inf">
                            <div class="tarj-cat-inf-izq padding20">

                                <% productos.forEach(producto=>{ if(producto.category_id == categoria.id){ %>

                                    <!--Tajeta de producto-->
                                    <article class="tarjeta-art-cat">

                                        <div class="caja-art-cat-sup">
                                                <label for="popUp" class="click-para-modal">
                                                <img src="/img/products/<%= producto.image %>" alt="" id="<%= producto.id %>">
                                            </label>
                                            </div>
                                        <div class="caja-art-inf-cat">

                                            <div class="caja-art-inf-izq">
                                                <div class="art-nombre overflow">
                                                    <%= producto.name %>
                                                </div>
                                                <div class="art-precio">
                                                    $<%= producto.priceUnit %>
                                                </div>
                                            </div>
                                            <div class="caja-art-inf-der-cat">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </div>
                                        </div>
                                    </article>

                                    

                                    <% }}) %>

                            </div>

                            <div class="tarj-cat-inf-der">
                                <i class="fa-solid fa-circle-chevron-right"></i>
                            </div>
                        </div>

                    </section>
                    <!--Tajeta de categoria-->
                    <% }) %>




            </main>


            <!--Footer-->
            <%- include("../views/partials/footer") %>
    </body>

    </html>