<!--Head-->
<%- include("../views/partials/head") %>

    <body class="body-control">
        <header class="caja-header-control">
            <div class="nav-izq">
                <a href="/home"><img src="/img/new-icons/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
            </div>

            <nav class="header-control">
                <div class="caja-direc-der">
                    <div class="text-center">Panel de control</div>
                </div>
                <div class="caja-direc-izq">
                    <i class="fa-solid fa-sliders icono-control"></i>
                </div>

            </nav>


        </header>
        <main class="main-producto-edit">
            <a href="/users/panel-control">
                <div class="boton-editar-prod"> Atras </div>
            </a>
            <section class="tarjeta-categoria-edit ">
                <div class="tarj-cat-sup padding20">
                    <div>
                        Usuarios
                    </div>
                </div>
                <div class="cont-producto-edit">


                    <% usuarios.forEach(usuario=> { %>

                        <!--Tajeta para editar Usuarios-->
                        <div class="tarjeta-producto-edit">
                            <div>
                                <img src="/img/users/avatar/<%= usuario.avatar %>" alt="" class="img-edit">
                            </div>
                            <div class="margin-LR">
                                <div>
                                    ID:
                                </div>
                                <div>
                                    Permisos:
                                </div>
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Email:
                                </div>
                            </div>

                            <div class="flex-wrap overflow margin-LR">
                                <div>

                                    <div>
                                        <%= usuario.id %>
                                    </div>
                                    <div>
                                        <% categorias.forEach(categoria => { 

                                            if(usuario.category_id == categoria.id){ %>
                                                
                                              <%=  categoria.user_type %>
                                          <%  }}) %>
                                    </div>


                                </div>
                                <div class="user-edit">
                                    <div>
                                        <%= usuario.first_name + " " + usuario.last_name %>
                                    </div>

                                    <div>
                                        <%= usuario.email %>
                                    </div>

                                </div>
                            </div>
                            <div class="box-icons">
                            <a href="/users/usuario-admin/<%=usuario.id%>">
                                <div class="boton-editar-prod"><i class="fa-solid fa-pen-to-square"></i></div>
                            </a>
                            <form action="/users/eliminar/<%= usuario.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="boton-editar-prod"><i class="fa-solid fa-trash"></i></button></form>
                            </div>
                            </div>

                        <% }) %>




                </div>

            </section>






        </main>

        <!--Footer-->
        <%- include("../views/partials/footer") %>
    </body>