<!--Head-->
<%- include("../views/partials/head") %>

    <body class="body-control">
        <header class="caja-header-control">
            <div class="nav-izq">
                <a href="/home"><img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
            </div>

            <nav class="header-control">
                <div class="caja-direc-der">
                    <div class="text-center">Panel de control</div>
                </div>
                <div class="caja-direc-izq">
                    <i class="fa-solid fa-sliders icono-control"></i>
                </div>

            </nav>


        </header>
        <main class="main-producto-edit">
            <a href="/users/panel-control">
                <div class="boton-editar-prod"> Atras </div>
            </a>

            <% categorias.forEach(categoria=>{ %>
                <!--Tajeta de categoria-->
                <section class="tarjeta-categoria-edit ">


                    <div class="tarj-cat-sup padding20">
                        <div>
                            <%= categoria.name %>
                        </div>
                    </div>
                    <div class="cont-producto-edit">


                        <% productos.forEach(producto=>{ if(producto.category == categoria.category){ %>

                            <!--Tajeta para editar producto-->
                            <div class="tarjeta-producto-edit">
                                <div>
                                    <img src="/img/products/<%= producto.image %>" alt="" class="img-edit">
                                </div>
                                <div>
                                    <div>
                                        ID:
                                    </div>
                                    <div>
                                        <%= producto.id %>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div>
                                        Nombre:
                                    </div>
                                    <div>
                                        <%= producto.name %>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div>
                                        Stock:
                                
                                    </div>
                                    <div>
                                        <%= producto.stock %>
                                    </div>
                                </div>
                                <a href="/productos/editar-producto/<%= producto.id %>"><div class="boton-editar-prod"><i class="fa-solid fa-pen-to-square"></i></div></a>
                            </div>
                            
                            <% }}) %>




                    </div>

                </section>
                <!--Tajeta de categoria-->
                <% }) %>




        </main>

        <!--Footer-->
        <%- include("../views/partials/footer") %>
    </body>