
<!--HEAD-->
<%- include("../views/partials/head") %>
   

<body class="fondo">
  
    <%- include("../views/partials/headerGeneral") %>

        <main>

            <div class="logo-registro">
                <img src="/img/new-icons/logo-letbar-sin-fondo.png" alt="">
            </div>
            
            <div class="formulario">
                    
                <h4>Crea tu cuenta</h4>

                

                <form action="/users/register/process" method="POST" enctype="multipart/form-data" id="formulario">
                    <div class="campo">
                        <label>Nombre:</label>
                        <input 
                            type="text" name="first_name" 
                            placeholder="Nombre" 
                            id = "first_name"
                            class="control <%= locals.errors && errors.first_name ? 'control-error' : null %> " 
                            value="<%= locals.oldData ? oldData.first_name : null %>"
                            >
                            <ul id="firstNameErrors"></ul>

                        <% if(locals.errors && errors.first_name){ %>
                            <div class="feedback">
                                <%= errors.first_name.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="campo">
                        <label>Apellido:</label>
                        <input 
                            type="text" name="last_name" 
                            placeholder="Apellido" 
                            id="last_name"
                            class="control <%= locals.errors && errors.last_name ? 'control-error' : null %> " 
                            value="<%= locals.oldData ? oldData.last_name : null %>"
                            >
                            <ul id="lastNameErrors"></ul>

                        <% if(locals.errors && errors.last_name){ %>
                            <div class="feedback">
                                <%= errors.last_name.msg %>
                            </div>
                        <% } %>
                    </div>
                        
                    <div class="campo">
                        <label>Email:</label>
                        <input 
                            type="text" 
                            name="email" 
                            placeholder='Email'
                            id="email"
                            class="control <%= locals.errors && errors.email ? 'control-error' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                            >
                            <ul id="emailErrors"></ul>

                        <% if(locals.errors && errors.email){ %>
                            <div class="feedback">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="campo">
                        <label>Contraseña:</label>
                        <input 
                            type="password" 
                            name="password" 
                            placeholder="Contraseña"
                            id="password"
                            class="control <%= locals.errors && errors.password ? 'control-error' : null %>" 
                            >
                            <ul id="passwordsErrors"></ul>

                            <% if(locals.errors && errors.password){ %>
                                <div class="feedback">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                    </div>

                    <div class="campo">
                        <label>Repetir contraseña:</label>
                        <input 
                            type="password"
                            name="pass_confirm"
                            placeholder="Repetir contraseña"
                            id="pass_confirm"
                            class="control <%= locals.errors && errors.pass_confirm ? 'control-error' : null %>" 
                            >
                            <ul id="passConfirmErrors"></ul>

                            <% if(locals.errors && errors.pass_confirm){ %>
                                <div class="feedback">
                                    <%= errors.pass_confirm.msg %>
                                </div>
                            <% } %>
                    </div>

                    <div class="campo">
                        <label>Número de teléfono:</label>
                        <input 
                            type="tel" 
                            name="tel" 
                            placeholder="Número de teléfono"
                            id="tel"
                            class="control <%= locals.errors && errors.tel ? 'control-error' : null %>" 
                            value="<%= locals.oldData ? oldData.tel : null %>"
                            >
                            <ul id="telefonoErrors"></ul>

                            <% if(locals.errors && errors.tel){ %>
                                <div class="feedback">
                                    <%= errors.tel.msg %>
                                </div>
                            <% } %>
                    </div>

                    <div class="campo">
                        <label>Fecha de nacimiento:</label>
                        <input 
                            type="date" 
                            name="birthday" 
                            id="birthday"
                            class="control <%= locals.errors && errors.birthday ? 'control-error' : null %>" 
                            value="<%= locals.oldData ? oldData.birthday : null %>"
                            >
                            <ul id="fechaNacimientoErrors"></ul>

                            <% if(locals.errors && errors.birthday){ %>
                                <div class="feedback">
                                    <%= errors.birthday.msg %>
                                </div>
                            <% } %>
                    </div>

                    <div class="campo">
                        <label>Imagen de perfil:</label>
                        <input 
                            type="file" 
                            name="avatar"
                            id="avatar"
                            class="control <%= locals.errors && errors.avatar ? 'control-error' : null %>" 
                            >
                            <ul id="avatarErrors"></ul>

                        <% if(locals.errors && errors.avatar){ %>
                            <div class="feedback">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>

                    <button type="submit" class="boton-formulario">Registrarme</button>

                    <h2>O ingresa con...</h2>

                    <div>

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    </div>
            </form>
            </div>

        </main>

        <!--Script validaciones Front-->
        <script src="/js/registersValidations.js"></script>
   <!--Footer-->
   <%- include("../views/partials/footer") %>

    

</body>

</html>

